= simple_form_for [:admin, @product], html: {class: 'form-horizontal' } do |f|
  .row
    .span8
      = form_fieldset_header 'Required Information', 'This information is required to create new product. Please, fill all fields below.'
      %fieldset
        = f.input :name, input_html: {class: 'input-xlarge'}
        = f.input :base_price_kopeks, input_html: {class: 'input-xlarge'}
        = f.association :category, collection: @categories, input_html: {class: 'input-xlarge'}
      
      = form_fieldset_header 'Additional Details', 'This information is optional, you can prodvide it later.'
      %fieldset
        = f.input :description, input_html: {class: 'input-xxlarge', rows: 15}
    
    .span4
      %img{src: image_path('product1.jpg')}
    
    .clearfix
    
    .form-actions
      = f.button :submit, 'Save', class: ['btn-success']