%nav.nav-collapse.collapse{style: "height:0px"}
  %ul.nav
    %li
      %a{href: root_path}= "Home"
    %li
      %a{href: "myaccount.html"}= "My Account"
    %li
      %a{href: admin_root_path}= "Admin"
    %li
      %a{href: "shopping-cart.html"}= "Shopping Cart"
    %li
      %a{href: "checkout.html"}= "Checkout"