%section#product
  .container
    %ul.breadcrumb
      %li
        %a{href: root_path}= "Home"
        %span.divider= "/"
      %li.active= @category.name

    .row
      .span12
        %h1.categorytitle
          %span= @category.name

        = render partial: 'categories/slider'
        
        .container
          = render partial: 'products/toolbar'
          %section#latest
            - if params[:view_mode] == 'grid'
              = render partial: 'products/grid', locals: {products: @products}
            - else
              = render partial: 'products/list', locals: {products: @products}
            .pull-right
              = paginate @products
                    
                    
                  
                
              