%ul.thumbnails.grid{style: "display: block;"}
  - products.each do |product|
    %li.span3
      %a.prdocutname{href: product_path(product)}= product.name
      .thumbnail
        = product_sale_ribbon(product) if product.has_discount?
        = product_image(product)
        .caption
          .price.pull-left= product_price(product)
          %a.cartadd.pull-right= "Add to Cart"
          .links.pull-left
            %a.info{href: product_path(product)}= "more"
            %a.wishlist{href: "wishlist.html"}= "wishlist"
            %a.compare{href: "compare.html"}= "compare"