%section#latest
  .row
    .span12
      .sorting.well
        %form.form-inline.pull-left
          Sort by:
          %select.span2
            %option= "Default"
            %option= "Name"
            %option= "Pirce"
            %option= "Rating"
            %option= "Color"
          &nbsp;&nbsp;
          Show:
          %select.span1
            %option= "10"
            %option= "20"
            %option= "30"
            %option= "40"
            %option= "50"
        .btn-group.pull-right
          %button#list.btn
            %i.icon-th-list
          %button#grid.btn.btn-success
            %i.icon-th.icon-white
  %section#thumbnails
    %ul.thumbnails.grid{style: "display: block;"}
      - @products.each do |product|
        %li.span3
          %a.prdocutname{href: product_path(product)}= product.name
          .thumbnail
            %span.sale= "Sale"
            %a{href: product_path(product)}
              %img{src: image_url("product-l1.jpg")}
            .caption
              .price.pull-left
                %span.oldprice= "$2225.00"
                %span.newprice= "$2225.00"
              %a.cartadd.pull-right= "Add to Cart"
              .links.pull-left
                %a.info{href: product_path(product)}= "more"
                %a.wishlist{href: "wishlist.html"}= "wishlist"
                %a.compare{href: "compare.html"}= "compare"
  .pull-right
    = paginate @products