%ul.thumbnails.grid{style: "display: block;"}
  - products.each do |product|
    %li.span3
      %a.prdocutname{href: product_path(product)}= product.name
      .thumbnail
        %span.sale= "Sale"
        %a{href: product_path(product)}
          %img{src: image_url("product-l1.jpg")}
        .caption
          .price.pull-left
            - if product.has_discount?
              %span.oldprice= humanized_money_with_symbol(product.base_price)
              %span.newprice= humanized_money_with_symbol(product.discount_price)
            - else
              %span.newprice= humanized_money_with_symbol(product.base_price)
          %a.cartadd.pull-right= "Add to Cart"
          .links.pull-left
            %a.info{href: product_path(product)}= "more"
            %a.wishlist{href: "wishlist.html"}= "wishlist"
            %a.compare{href: "compare.html"}= "compare"