!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "#{t('application_name')} - #{t('application_description')}"
    %meta{:content => content_for?(:description) ? yield(:description) : t('application_description'), :name => "description"}
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300'
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    = render partial: 'shared/header'
    
    #maincontainer
      .row
        .offset2.span10
          = bootstrap_flash
      = yield

    = render partial: 'shared/footer'

    = image_tag 'preloader.gif', id: 'preloader', class: 'hidden'