!!!
%html
  %head
    = render partial: 'shared/head'
  %body
    = render partial: 'shared/navbar/main'
    .header-white
      = render partial: 'shared/topbar/main'
      = render partial: 'shared/menu/main'
      
    #maincontainer
      = bootstrap_flash if flash.any?
      = yield

    = render partial: 'shared/footer'

    = image_tag 'preloader.gif', id: 'preloader', class: 'hidden'